#uesrpg-character-creator {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.step {
  display: none;
}

.step.active {
  display: block;
}
#uesrpg-character-creator-button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: #4b4b4b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#uesrpg-character-creator-button:hover {
  background: #666;
}
